# === Rails / Ruby ===
/.bundle
/vendor/bundle
/log/*
/tmp/*
!/tmp/.keep
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/packs
/public/packs-test
/public/assets
/storage/*
!/storage/.keep
.byebug_history
.DS_Store

# Rails credentials / secrets
/config/master.key
/config/credentials.yml.enc
/config/database.yml

# dotenv
.env
.env.*

/node_modules
/node_modules/.cache
/yarn-error.log
/pnpm-lock.yaml
/package-lock.json
/dist
/build

*.swp
*.swo
.idea/
.vscode/
*.iml
*.bak


/coverage
/rspec_examples.txt


.bundle
vendor/bundle
*.log
